@page "/a01-employees-query"
<PageTitle>Query - StarTED</PageTitle>
@rendermode InteractiveServer
@using StarTEDSystem.BLL
@using StarTEDSystem.Entities

<h3>A01EmployeesQuery</h3>
<h1>Employees by Partial Name</h1>


@code {

}
